.root {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    border: 1px solid currentColor;
    padding: 8px 13px;
    font-size: 20px;
    transition: background 0.15s linear;

    &:hover {
        background: rgba(#ffffff, 0.1);
        cursor: pointer;
    }

    &.black {
        color: black;
    
        &:hover {
            background: rgba(black, 0.1);
        }
    }
}