.root {
    color: #fff;
    font-size: 54px;
    margin-bottom: 48px;
}

.root::after {
    content: "";
    display: block;
    width: 30%;
    position: relative;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin: 15px auto 0;
}