.cardsBlock {
	background-color: #f7f7f7;
	padding: 30px 0;
	display: flex;
	justify-content: center;
}

.cardTitle {
	text-align: center;
	margin-bottom: 32px;
}

.cardWrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 12px;
	gap: 40px 20px;
	justify-items: center;
}