.root {
	padding: 40px 0;
}

.centeredBlock {
	display: block;
	margin: 30px auto;
}

.marginTop {
	margin-top: 30px;
}

.heading {
	display: flex;
	align-items: baseline;
	gap: 15px;

	.anchor {
		width: 25px;
		height: 25px;
		opacity: 0;
		cursor: pointer;
	}

	&:hover .anchor {
		opacity: 1;
	}
}
